#topmenu ul {
    margin: 0;
    padding: 0;
    border-bottom: 4px solid #efc62c;
}

#topmenu ul {
    border-bottom-color: #ff7800;
}
#topmenu ul li {
    line-height: 18px;
}
#topmenu ul li {
    border-right-color: rgba(255,255,255, 0.1);
}
#topmenu ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin: 0;
    font-weight: 400;
    border-right: 1px solid;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
s  